{% extends "partials/layout.njk" %}

{% block main %}

<div class="inner-wrap no-pt">
	<div class="page-top about-page-top">
		<div class="container">
			<div class="page-banner about-page"></div>

			<div class="row">
				<div class="col-sm-6">
					<div class="text-block">
						<h1 class="page-title text-left">О компании</h1>
						<p class="text-block_subtitle">
							Поставка качественных дизельных генераторов и ИБП по разумной цене и в удобные сроки 
						</p>
						<p>
							ТОО « Пром Генератор» - это инжиниринговая компания, поставляющая на рынок оборудование резервного и автономного энергообеспечения,  такое как дизельные генераторы и источники бесперебойного питания. Имея в своем штате  опытный технический персонал, наша компания способна предоставить своим клиентам полный перечень работ, связанных с установкой дизельных генераторов или источников бесперебойного питания на объекте. Накопленный нами опыт позволяет нам подобрать клиенту лучшее оборудование, которое будет наиболее полно удовлетворять его потребностям. Наша работа с клиентом может быть начата на стадии выбора оборудования или проектирования системы резервирования электроснабжения объекта, затем на стадии его инсталляции и монтажа на объекте. Также, наша компания готова заключить с заказчиком договор на последующее техническое обслуживание.
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="main-images about-images">
						<div class="main-image_item">
							<img src="images/main-image-2.jpg" class="img-responsive" alt="#">
						</div>
						<div class="main-image_item">
							<img src="images/main-image-2.jpg" class="img-responsive" alt="#">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<h2 class="page-title">Благодарные клиенты</h2>
		<div class="clients-slider">
			<div class="client_item">
				<div class="client_item-bg"></div>
				<div class="client_item-block">
					<div class="client_item-header">
						<div class="client_item-logo">
							<img src="http://placehold.it/100x60">
						</div>
						<h4 class="client_item-title"><span>Логотип или имя компании</span></h4>
					</div>
					<div class="client_item-description">
						<h5>Декабрь 2016</h5>
						<p>
							Супер работа! Парни вы лучшие, быстро и качественно поставили электростанцию на 265 этаже мы в шоке ...
						</p>
					</div>
					<div class="client_item-link">
						<a href="#" class="read-more">Читать дальше</a>
					</div>
				</div>
			</div>
			<div class="client_item">
				<div class="client_item-bg"></div>
				<div class="client_item-block">
					<div class="client_item-header no-logo">
						<h4 class="client_item-title"><span>Логотип или имя компании</span></h4>
					</div>
					<div class="client_item-description">
						<h5>Декабрь 2016</h5>
						<p>
							Супер работа! Парни вы лучшие, быстро и качественно поставили электростанцию на 265 этаже мы в шоке ...
						</p>
					</div>
					<div class="client_item-link">
						<a href="#" class="read-more">Читать дальше</a>
					</div>
				</div>
			</div>
			<div class="client_item">
				<div class="client_item-bg"></div>
				<div class="client_item-block">
					<div class="client_item-header">
						<div class="client_item-logo">
							<img src="http://placehold.it/100x60">
						</div>
						<h4 class="client_item-title"><span>Логотип или имя компании</span></h4>
					</div>
					<div class="client_item-description">
						<h5>Декабрь 2016</h5>
						<p>
							Супер работа! Парни вы лучшие, быстро и качественно поставили электростанцию на 265 этаже мы в шоке ...
						</p>
					</div>
					<div class="client_item-link">
						<a href="#" class="read-more">Читать дальше</a>
					</div>
				</div>
			</div>
			<div class="client_item">
				<div class="client_item-bg"></div>
				<div class="client_item-block">
					<div class="client_item-header no-logo">
						<h4 class="client_item-title"><span>Логотип или имя компании</span></h4>
					</div>
					<div class="client_item-description">
						<h5>Декабрь 2016</h5>
						<p>
							Супер работа! Парни вы лучшие, быстро и качественно поставили электростанцию на 265 этаже мы в шоке ...
						</p>
					</div>
					<div class="client_item-link">
						<a href="#" class="read-more">Читать дальше</a>
					</div>
				</div>
			</div>
		</div>

		<h2 class="page-title">Наши партнеры</h2>
		<div class="partners-slider">
			<div class="partner_item">
				<span><img src="images/partner-item-1.jpg" alt="#"></span>
			</div>
			<div class="partner_item">
				<span><img src="images/partner-item-2.jpg" alt="#"></span>
			</div>
			<div class="partner_item">
				<span><img src="images/partner-item-3.jpg" alt="#"></span>
			</div>
			<div class="partner_item">
				<span><img src="images/partner-item-1.jpg" alt="#"></span>
			</div>
			<div class="partner_item">
				<span><img src="images/partner-item-2.jpg" alt="#"></span>
			</div>
			<div class="partner_item">
				<span><img src="images/partner-item-3.jpg" alt="#"></span>
			</div>
		</div>
	</div>


	<div class="main-section advantages-section">
		<div class="container">
			<h2 class="main-title centered">Наши приемущества</h2>
			<div class="row">
				<div class="col-md-4 col-sm-6 advantage_item">
					<div class="advantage_item-block">
						<div class="advantage_item-icon">
							<span><img src="images/icons/advantage-item-1.svg" alt="#"></span>
						</div>
						<h4 class="advantage_item-title">Узкая специализация</h4>
						<p class="advantage_item-description">
							Мы не растрачиваем наши усилия на чрезмерно широкий спектр товаров и услуг, мы доверяем нашим специалистам конкретные задачи и поставляем на рынок определенное оборудование. Именно поэтому наш профессионализм вне конкуренции, ведь невозможно быть лучшим во всем
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 advantage_item">
					<div class="advantage_item-block">
						<div class="advantage_item-icon">
							<span><img src="images/icons/advantage-item-2.svg" alt="#"></span>
						</div>
						<h4 class="advantage_item-title">За нами опыт</h4>
						<p class="advantage_item-description">
							Наши специалисты – это локомотив нашей компании. Более 12 лет профессиональной деятельности сделали нас неуязвимыми в отношении сложных задач и нестандартных решений. Если дело касается монтажа дизельных генераторов или/и ИБП – просто доверьтесь нам
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 advantage_item">
					<div class="advantage_item-block">
						<div class="advantage_item-icon">
							<span><img src="images/icons/advantage-item-3.svg" alt="#"></span>
						</div>
						<h4 class="advantage_item-title">Выгодная компактность</h4>
						<p class="advantage_item-description">
							Благодаря нашей деловой маневренности, мы всегда выгодно используем наш статус небольшой компании. Это позволяет нам решать все организационные вопросы в кратчайшие сроки, экономя тем самым драгоценное время наших клиентов. Этим также объясняется гибкость нашей ценовой политики и особое отношение к каждому заказу
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 advantage_item">
					<div class="advantage_item-block">
						<div class="advantage_item-icon">
							<span><img src="images/icons/advantage-item-4.svg" alt="#"></span>
						</div>
						<h4 class="advantage_item-title">Оперативность</h4>
						<p class="advantage_item-description">
							Это наша основная черта – лучшие цены, в работе только профессионалы, решение вопросов в рамках заказа в считанные часы. Так мы работаем
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 advantage_item">
					<div class="advantage_item-block">
						<div class="advantage_item-icon">
							<span><img src="images/icons/advantage-item-5.svg" alt="#"></span>
						</div>
						<h4 class="advantage_item-title">Надёжные бренды</h4>
						<p class="advantage_item-description">
							Поставка оборудования подразумевает качество и гарантии. На этом мы делаем главный акцент и выбираем только проверенных временем партнёров. Надёжность наших поставщиков – наша надёжность. Доверяя им как себе, мы обеспечиваем гарантии нашим клиентам
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 advantage_item">
					<div class="advantage_item-block">
						<div class="advantage_item-icon">
							<span><img src="images/icons/advantage-item-6.svg" alt="#"></span>
						</div>
						<h4 class="advantage_item-title">Пунктуальность</h4>
						<p class="advantage_item-description">
							«Дорога ложка к обеду», друзья. Планирование и исполнение – так мы подходим к каждой задаче. Каждый шаг в нашей работе происходит в назначенное время и исполняется конкретным человеком. Поэтому мы гарантируем скрупулезную пунктуальность в сотрудничестве
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 advantage_item">
					<div class="advantage_item-block">
						<div class="advantage_item-icon">
							<span><img src="images/icons/advantage-item-3.svg" alt="#"></span>
						</div>
						<h4 class="advantage_item-title">Качественные консультации</h4>
						<p class="advantage_item-description">
							Работа с дизельными генераторами и ИБП требует не только специальных знаний, но и наличие конкретного опыта. Наши специалисты имеют высокий уровень за счёт узкой направленности нашей деятельности. Это обуславливает наш особый подход к консультационной поддержке наших клиентов и проведению инструктажей. Все вопросы мы решаем в срочном порядке и необходимая информация поступает к клиенту в доступном виде
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="callback-section">
		<form class="callback-form">
			<h4 class="form_title">Заказать звонок</h4>
			<div class="form-group">
				<input type="text" name="name" class="form-input" placeholder="Ваше имя">
				<input type="text" name="phone" class="form-input" placeholder="Номер телефона">
				<button class="form_submit" type="submit">ЗАКАЗАТЬ</button>
			</div>
		</form>
	</section>
	<section class="contacts-section">
		<div class="container">
			<h2 class="main-title">Контакты</h2>
			<div class="contacts">
				<div class="info_item">
					<h4>ТЕЛЕФОНЫ</h4>
					<p>
						+7 (727) 376-80-00<br>
						+7 (701) 736-36-36
					</p>
				</div>
				<div class="info_item">
					<h4>EMAIL</h4>
					<p>
						info@promgenerator.kz<br>
						sale@promgenerator.kz<br>
						tender@promgenerator.kz
					</p>
				</div>
				<div class="info_item">
					<h4>АДРЕС</h4>
					<p>
						г. Алматы, мкр-н Жетысу 3<br>
						д. 25, оф. 309 (БЦ "Фортуна", блок Г)
					</p>
				</div>
				<div class="info_item">
					<h4>РЕЖИМ РАБОТЫ</h4>
					<p>
						Пн ‒ пт с 09:00 до 18:00
					</p>
				</div>
			</div>
			<div class="map">
				<img src="images/map.jpg" class="img-responsive">
			</div>
		</div>
	</section>
</div>
{% endblock %}