{% extends "partials/layout.njk" %}

{% block main %}

<div class="inner-wrap no-pt">
	<div class="page-top">
		<div class="container">
			<div class="page-banner delivery-page"></div>

			<div class="row">
				<div class="col-md-6">
					<div class="text-block">
						<h1 class="page-title text-left">Доставка по Казахстану</h1>
						<p>
							Условия, в которых должна осуществляться доставка, очень часто являются предметом недосмотра или халатного отношения, что мы в свою очередь считаем категорически неприемлемым.
						</p>
						<p>
							Безопасность оборудования, персонала и окружающей среды должны соблюдаться согласно установленных норм и правил, продиктованных не только штампами различных организаций, но и опытом специализированных организаций и конкретных специалистов. Именно это мы считаем основной составляющей при организации и осуществлении доставки оборудования на объекты заказчиков.
						</p>
						<p>
							Все подробности вы можете обсудить с нашими менеджерами, сообщив всю необходимую информацию. Обратная связь Вам будет предоставлена в кратчайшие сроки.
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="main-images">
						<div class="main-image_item">
							<img src="images/delivery-image-1.jpg" class="img-responsive" alt="#">
						</div>
						<div class="main-image_item">
							<img src="images/delivery-image-1.jpg" class="img-responsive" alt="#">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="callback-section">
		<form class="callback-form">
			<h4 class="form_title">Заказать звонок</h4>
			<div class="form-group">
				<input type="text" name="name" class="form-input" placeholder="Ваше имя">
				<input type="text" name="phone" class="form-input" placeholder="Номер телефона">
				<button class="form_submit" type="submit">ЗАКАЗАТЬ</button>
			</div>
		</form>
	</section>
	<section class="contacts-section">
		<div class="container">
			<h2 class="main-title">Контакты</h2>
			<div class="contacts">
				<div class="info_item">
					<h4>ТЕЛЕФОНЫ</h4>
					<p>
						+7 (727) 376-80-00<br>
						+7 (701) 736-36-36
					</p>
				</div>
				<div class="info_item">
					<h4>EMAIL</h4>
					<p>
						info@promgenerator.kz<br>
						sale@promgenerator.kz<br>
						tender@promgenerator.kz
					</p>
				</div>
				<div class="info_item">
					<h4>АДРЕС</h4>
					<p>
						г. Алматы, мкр-н Жетысу 3<br>
						д. 25, оф. 309 (БЦ "Фортуна", блок Г)
					</p>
				</div>
				<div class="info_item">
					<h4>РЕЖИМ РАБОТЫ</h4>
					<p>
						Пн ‒ пт с 09:00 до 18:00
					</p>
				</div>
			</div>
			<div class="map">
				<img src="images/map.jpg" class="img-responsive">
			</div>
		</div>
	</section>
</div>
{% endblock %}