{% extends "partials/layout.njk" %}

{% block main %}

<div class="inner-wrap no-pt">
	<div class="page-top">
		<div class="container">
			<div class="page-banner services-page"></div>

			<h1 class="page-title text-left">Услуги компании</h1>
			<div class="row">
				<div class="col-sm-4">
					<nav class="page-nav services-nav">
						<ul>
							<li><a href="#" class="link-btn large-btn">Пусконаладочные работы</a></li>
							<li><a href="#" class="link-btn large-btn">Автоматический ввод резерва</a></li>
							<li><a href="#" class="link-btn large-btn">Монтажные работы</a></li>
							<li><a href="#" class="link-btn large-btn">Удаленный мониторинг</a></li>
							<li><a href="#" class="link-btn large-btn">Установка</a></li>
							<li><a href="#" class="link-btn large-btn">Подогрев охлаждающей жидкости</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-7 col-sm-8">
					<div class="text-block">
						<h3>Пусконаладочные работы</h3>
						<p>
							Комплекс мероприятий, благодаря которому осуществляется ввод в эксплуатацию специализированного оборудования, имеет одну основную цель – обеспечить настройку и тестовый запуск устройства. Этому предшествуют подготовительные работы, контроль за которыми должен обеспечиваться только профессионалами, которым зачастую предстоит проверка работы оборудования и консультация  персонала заказчика.
						</p>
						<p>
							Для того, чтобы пусконаладочные работы прошли успешно, необходимо следовать четким инструкциям, состоящим из перечня работ, выполняемых специалистами:
						</p>
						<ul class="styled-list">
							<li>Консультация клиента по определению мощности оборудования;</li>
							<li>Консультации клиента по выбору оптимального места установки оборудования на объекте;</li>
							<li>Определение с заказчиком оптимального исполнения дизельного генератора, в шумозащитном кожухе, в специализировнном контнейнере, в помещении;</li>
							<li>Определение оптимального маршрута прокладки силовых кабелей для подключения оборудования;</li>
							<li>Выполнение эскизного проекта по установке дизельного генератора на объекте;</li>
							<li>Расчет полных затрат, связанных с установкой дизельного генератора (строительные работы, электромонтажные и транспортные затраты);</li>
							<li>Выполнение строительных и электромонтажных работ, шеф-монтажа и пуско-наладки оборудования;</li>
							<li>Обучение персонала заказчика эксплуатации оборудования;</li>
							<li>Периодическое и разовое (по выбору клиента) техническое обслуживание дизельных генераторов и источников бесперебойного питания (ИБП);</li>
							<li>Предоставление технической поддержки в режиме 24/7;</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="callback-section">
		<form class="callback-form">
			<h4 class="form_title">Заказать звонок</h4>
			<div class="form-group">
				<input type="text" name="name" class="form-input" placeholder="Ваше имя">
				<input type="text" name="phone" class="form-input" placeholder="Номер телефона">
				<button class="form_submit" type="submit">ЗАКАЗАТЬ</button>
			</div>
		</form>
	</section>
	<section class="contacts-section">
		<div class="container">
			<h2 class="main-title">Контакты</h2>
			<div class="contacts">
				<div class="info_item">
					<h4>ТЕЛЕФОНЫ</h4>
					<p>
						+7 (727) 376-80-00<br>
						+7 (701) 736-36-36
					</p>
				</div>
				<div class="info_item">
					<h4>EMAIL</h4>
					<p>
						info@promgenerator.kz<br>
						sale@promgenerator.kz<br>
						tender@promgenerator.kz
					</p>
				</div>
				<div class="info_item">
					<h4>АДРЕС</h4>
					<p>
						г. Алматы, мкр-н Жетысу 3<br>
						д. 25, оф. 309 (БЦ "Фортуна", блок Г)
					</p>
				</div>
				<div class="info_item">
					<h4>РЕЖИМ РАБОТЫ</h4>
					<p>
						Пн ‒ пт с 09:00 до 18:00
					</p>
				</div>
			</div>
			<div class="map">
				<img src="images/map.jpg" class="img-responsive">
			</div>
		</div>
	</section>
</div>
{% endblock %}