<footer>
  <div class="container">
  	<div class="footer-main">
  		<nav class="footer-nav">
  			<ul>
  				<li>
  					<a href="#">О компании</a>
  					<ul>
  						<li><a href="#">Наши проекты</a></li>
  					</ul>
  				</li>
  				<li>
  					<a href="#">Продукция</a>
  					<ul>
  						<li><a href="#">Генераторы</a></li>
  						<li><a href="#">Стабилизаторы</a></li>
  						<li><a href="#">ИБП</a></li>
  						<li><a href="#">Контейнеры</a></li>
  						<li><a href="#">Запчасти</a></li>
  					</ul>
  				</li>
  				<li><a href="#"><a href="#">Доставка</a></a></li>
  				<li><a href="#"><a href="#">Установка</a></a></li>
  				<li><a href="#"><a href="#">Сервис</a></a></li>
  				<li><a href="#"><a href="#">Контакты</a></a></li>
  			</ul>
  		</nav>
  		<div class="social-links">
  			<a href="#"><i class="fa fa-vk"></i></a>
  			<a href="#"><i class="fa fa-facebook"></i></a>
  			<a href="#"><i class="fa fa-instagram"></i></a>
  		</div>
  	</div>
  	<div class="footer-bottom">
  		<div class="copyright">&copy; PROMGENERATOR, 2017. Все права защищены.</div>
  	</div>
  </div>
</footer>

<div class="overlay"></div>