<header id="header">
  <div class="container">
    <div class="header-contacts">
      <button class="contacts-toggle-btn"><i class="fa fa-mobile"></i><span>+7 (727) 376 80 00</span></button>
      <div class="contacts-block">
        <div class="contacts-info">
          <h4 class="contacts-info_title">телефоны</h4>
          <div class="contacts-info_content">
            <p>+7 (727) 376-80-00</p>
            <p>+7 (701) 736-36-36</p>
          </div>
        </div>
        <div class="contacts-info">
          <h4 class="contacts-info_title">email</h4>
          <div class="contacts-info_content">
            <p>info@promgenerator.kz</p>
            <p>sale@promgenerator.kz</p>
            <p>tender@promgenerator.kz</p>
          </div>
        </div>
        <div class="contacts-info">
          <h4 class="contacts-info_title">адрес</h4>
          <div class="contacts-info_content">
            <p>
              г. Алматы, мкр-н Жетысу 3<br>д. 25, оф. 309 (БЦ "Фортуна", блок Г)
            </p>
          </div>
        </div>
        <div class="contacts-info">
          <h4 class="contacts-info_title"><a href="#">Схема проезда</a></h4>
          <div class="contacts-info_content">
            <a href="#">
              <img src="images/icons/contacts-icon.svg" width="80px">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="header-main">
        <div class="logo">
          <a href="/"><img src="images/logo.png" class="img-responsive" alt="PromGenerator"></a>
        </div>
        <nav class="nav" id="nav">
          <ul class="nav-list">
            <li class="nav-list_item">
              <a href="about.html" class="nav-list_link">О компании</a>
            </li>
            <li class="nav-list_item">
              <a href="catalog.html" class="nav-list_link">Продукция</a>
            </li>
            <li class="nav-list_item">
              <a href="services.html" class="nav-list_link">Услуги</a>
            </li>
            <li class="nav-list_item">
              <a href="delivery.html" class="nav-list_link">Доставка</a>
            </li>
            <li class="nav-list_item">
              <a href="tool.html" class="nav-list_link">Установка</a>
            </li>
            <li class="nav-list_item">
              <a href="service.html" class="nav-list_link">Сервисное обслуживание</a>
            </li>
            <li class="nav-list_item">
              <a href="contacts.html" class="nav-list_link">Контакты</a>
            </li>
          </ul>
        </nav>
        <a href="#" class="link-btn">У Вас тендер?</a>
    </div>
  </div>
</header>
