<div class="page-corner">
	<button class="menu-btn">
		<div class="menu-btn_box">
			<span class="menu-btn_title">меню</span>
			<span class="menu-btn_line"></span>
			<span class="menu-btn_line"></span>
		</div>
	</button>
</div>