<div class="container">
  <div class="main-slider">
    <div class="main-slider_item">
      <img src="images/main-slider-item.jpg" alt="#" class="img-responsive">
      <div class="slider-item_caption">
        Поставка качественных дизельных генераторов и ИБП по разумной цене и в удобные сроки 
      </div>
    </div>
    <div class="main-slider_item">
      <img src="images/main-slider-item.jpg" alt="#" class="img-responsive">
      <div class="slider-item_caption">
        Поставка качественных дизельных генераторов и ИБП по разумной цене и в удобные сроки 
      </div>
    </div>
  </div>
  
  <div class="mcategories">
    <div class="mcategory_item">
      <a href="#" class="item-block">
        <span class="mcategory_item-title">Дизельные электростации</span>
        <div class="mcategory_item-image">
          <img src="images/main-catalog-item.jpg" class="img-responsive" alt="#">
        </div>
        <div class="mcategory_item-caption">
          <div class="caption_title">
            <span>Дизельные электростации</span>
          </div>
          <div class="caption_bottom">Подобрать</div>
        </div>
      </a>
    </div>
    <div class="mcategory_item">
      <a href="#" class="item-block">
        <span class="mcategory_item-title">ИБП</span>
        <div class="mcategory_item-image">
          <img src="images/main-catalog-item.jpg" class="img-responsive" alt="#">
        </div>
        <div class="mcategory_item-caption">
          <div class="caption_title">
            <span>ИБП</span>
          </div>
          <div class="caption_bottom">Подобрать</div>
        </div>
      </a>
    </div>
    <div class="mcategory_item">
      <a href="#" class="item-block">
        <span class="mcategory_item-title">Контейнеры</span>
        <div class="mcategory_item-image">
          <img src="images/main-catalog-item.jpg" class="img-responsive" alt="#">
        </div>
        <div class="mcategory_item-caption">
          <div class="caption_title">
            <span>Контейнеры</span>
          </div>
          <div class="caption_bottom">Подобрать</div>
        </div>
      </a>
    </div>
    <div class="mcategory_item">
      <a href="#" class="item-block">
        <span class="mcategory_item-title">Запчасти</span>
        <div class="mcategory_item-image">
          <img src="images/main-catalog-item.jpg" class="img-responsive" alt="#">
        </div>
        <div class="mcategory_item-caption">
          <div class="caption_title">
            <span>Запчасти</span>
          </div>
          <div class="caption_bottom">Подобрать</div>
        </div>
      </a>
    </div>
  </div>

</div>