.advantage-item-1- {
	width: 42px;
	height: 41.58px;
}

.advantage-item-2- {
	width: 41.55px;
	height: 42px;
}

.advantage-item-3- {
	width: 42px;
	height: 37.16px;
}

.advantage-item-4- {
	width: 42px;
	height: 41.54px;
}

.advantage-item-5- {
	width: 42px;
	height: 41.17px;
}

.advantage-item-6- {
	width: 41.87px;
	height: 42px;
}

.advantage-item-7- {
	width: 42px;
	height: 38.47px;
}

.arrow-right-blue- {
	width: 20px;
	height: 30px;
}

.arrow-right-yellow- {
	width: 17.5px;
	height: 25px;
}

.contacts-icon- {
	width: 42px;
	height: 33.14px;
}

.usage-item-1- {
	width: 42px;
	height: 31.74px;
}

.usage-item-2- {
	width: 42px;
	height: 33.99px;
}

.usage-item-3- {
	width: 42px;
	height: 35.21px;
}

.usage-item-4- {
	width: 42px;
	height: 34.84px;
}

.usage-item-5- {
	width: 42px;
	height: 31.93px;
}

.usage-item-6- {
	width: 42px;
	height: 33.97px;
}

.usage-item-7- {
	width: 42px;
	height: 30.53px;
}

.usage-item-8- {
	width: 42px;
	height: 31.94px;
}

